{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예리니와융디</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}

  </head>

  <body style="background-color:#FFE6F7">
    <nav class="navbar navbar-expand-lg  navbar-dark" style='background-color:#B1AFFF'>
      <div class="container">
        <a class="navbar-brand" href="{% url 'articles:index' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}">{{ request.user }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="container my-5">
      {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
    <footer class='container-fluid text-center position-fixed bottom-0' style='background-color:#B1AFFF'>
      <h5>HAHAHA</h5>

    </footer>
  </body>

</html>